.rec-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
  /* margin: 3rem; */
  padding: 3rem;
  background-color: var(--action);
}

.rec-list-title {
  background-color: var(--action);
  margin: 0 auto;
}

.rec-list-items {
  width: 40vw;
  list-style: none;
}
