.user-page {
  display: flex;
  justify-content: space-evenly;
  max-height: 80vh;
  ::-webkit-scrollbar {
    border-radius: 0.5rem;
  }
}

.user-data {
  font-family: var(--body);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  width: 480px;
  margin-top: 5vh;
}

.foto-y-datos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.datos p:nth-child(2) {
  font-size: 1rem;
  font-style: italic;
}

.user-recs {
  margin-top: 5vh;
  max-width: 50vw;
  list-style: none;
  overflow-y: auto;
}

.user-page-avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid;
}

.user-page::-webkit-scrollbar {
  border-radius: 0.5rem;
}

.user-page::-webkit-scrollbar {
  border-radius: 0.5rem;
}

.user-update {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1rem;
  padding: 20px;
}

.user-update input {
  margin-left: 5px;
  font-family: var(--body);
  font-size: 2rem;
  color: var(--bg);
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}

.inputs-y-foto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}

.preview-avatar {
  width: 150px;
  height: 150px;
}
