@import url("https://fonts.googleapis.com/css2?family=Englebert&family=Patrick+Hand+SC&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title: "Englebert", sans-serif;
  --body: "Patrick Hand SC", cursive;
}

html {
  --bg: #020202;
  --bright: #ffffff;
  --action: #a6934f;
  --error: #c84d4d;
  --mainbg: #eae1c4;
  --nav: #c84d4df5;
}

a {
  color: var(--action);
  text-decoration: none;
}

h1 {
  font-family: var(--title);
}

main.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: sans-serif;
}

.app header {
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.app header span {
  height: 100%;
}

.app header span img {
  height: 100%;
}

.app header nav ul {
  font-family: var(--body);
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  margin-right: 2rem;
}

.app header nav ul li {
  color: var(--action);
  border: 1px solid #0000;
  font-size: 16px;
  border: 0.3em solid var(--action);
  border-radius: 0.5em;
  width: 10em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}

.app header nav ul li span {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: var(--nav);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 2) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 2) * 0.1s);
  z-index: -1;
}

.app header nav ul li:hover {
  color: var(--bg);/*revisar esto*/
}

.app header nav ul li:hover span {
  transform: translateY(0) scale(2);
}

.app header nav ul li span:nth-child(1) {
  --n: 1;
}

.app header nav ul li span:nth-child(2) {
  --n: 2;
}

.app header nav ul li span:nth-child(3) {
  --n: 3;
}

.app header nav ul li span:nth-child(4) {
  --n: 4;
}

.app footer {
  color: var(--error);
  background-color: var(--mainbg);
}

.home {
  background-image: url("src/assets/images/niños.jpg");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--action);
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2em;
}

.home h1 {
  border: 1px solid #0000;
  background-image: linear-gradient(to right, #a6934f, #c84d4d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-bottom: 40px;
}
/* 
.register {
  background-color: var(--mainbg);
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;

}

.register section {
  height: 100%;
}

.register h1 {
  margin: 100px 0;
  text-align: center;
  color: var(--action);
  font-size: 2.5rem;
}

.register form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register form fieldset {
  border: none;
  margin-bottom: 1rem;
  width: 70%;
}

.register form label {
  display: flex;
  margin-bottom: 0.5rem;
}

.register form input {
  width: 100%;
  padding: 0.5rem;
}

.register button {
  padding: 0.5rem 1rem;
  background-color: var(--action);
  color: var(--bright);
  border: none;
  font-size: 1.3rem;
}

.register figure {
  height: 100%;
}

.register img {
  max-width: 100%;
  height: 100%;
}

.post {
  background-color: var(--mainbg);
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
}
.post section {
  height: 100%;
}
.post form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post form fieldset {
  border: none;
  margin-bottom: 1rem;
  width: 70%;
}

.post h1 {
  margin: 100px 0;
  text-align: center;
  color: var(--action);
  font-size: 2.5rem;
}

.post form label {
  display: flex;
  margin-bottom: 0.5rem;
}

.post form input {
  width: 100%;
  padding: 0.5rem;
}

.post figure {
  height: 100%;
}

.post img {
  max-width: 100%;
  height: 100%;
}

.post button {
  padding: 0.5rem 1rem;
  background-color: var(--action);
  color: var(--bright);
  border: none;
  font-size: 1.3rem;
}
.inputText {
  height: 8rem;
}
.post select {
  width: 100%;
} */
